@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(65, 65, 65);
}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  color: white;
  background-color: #023020;
}

.topnav a {
  text-decoration: none;
  color: white;
}

.topnav a:hover {
  text-decoration: underline;
  color: #90ee90;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7.5rem 0;
}
/* ABOUT SECTION */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10rem;
  margin-bottom: 15rem;
}
/* EXPERIENCE SECTION */
#expierence {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15rem;
}
.section-title {
  font-size: 2.5em;
  margin-bottom: 1.5rem;
  color: #1a5653;
  text-align: center;
}
ul li {
  list-style: none;
}
.role {
  padding: 1.5rem 10rem;
  margin-bottom: 1.5rem;
  border: 2px solid #023020;
  border-radius: 2rem;
}
#my-name {
  font-size: 2rem;
  color: #1a5653;
  margin-bottom: -0.3rem;
}
#hello {
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}
#tagline {
  margin-bottom: 0.5rem;
}

#projects-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 2px solid #023020;
  border-radius: 2rem;
  padding: 1.5rem;
}
.project-title {
  font-size: 1.5rem;
}
.project-description {
  font-size: 0.9rem;
}

.btnGitHub {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #023020;
  color: white;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: 1px solid #023020;
}

.btnGitHub:hover {
  background-color: white;
  color: #023020;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #023020;
  padding: 1.5rem;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
  color: #90ee90;
}
